.middleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 36, 255);
    height: 45px;
    padding: 30px;
    border-bottom: 1px solid white;
    

}
.middleContainer nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.middleContainer nav li{
    list-style: none;
    margin-right:70px;
}
.middleContainer header{
    color: white;
    font-size: 20px;

}
.middleContainer nav a{
    background-color: springgreen;
    padding: 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: black;

}